/***************************************
  vAccordion
 ***************************************/


/**
 * Example HTML:
 *
  <v-accordion class="vAccordion--default">
    <v-pane>
      <v-pane-header id="pane-header" aria-controls="pane-content">
         [content]
      </v-pane-header>
      <v-pane-content id="pane-content" aria-labelledby="pane-header">
        [content]
      </v-pane-content>
    </v-pane>
  </v-accordion>
 */




// -------------------------------------
// Settings
// -------------------------------------


$v-accordion-default-theme: true !default;


// Accordion
// -------------------------------------

$v-accordion-spacing: 20px !default;

$v-pane-border-color:          #D8D8D8 !default;
$v-pane-expanded-border-color: #2196F3 !default;
$v-pane-icon-color:            #2196F3 !default;
$v-pane-hover-color:           #2196F3 !default;

$v-pane-expand-duration:  0.5s  !default;
$v-pane-hover-duration:   0.25s !default;




/* Base styles
 ***************************************/


v-accordion {
  display: block;
}

v-pane {
  display: block;

  &.is-expanded {
    > v-pane-content > div {
      visibility: visible;
    }
  }
}

v-pane-header {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

v-pane-content {
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 0px;

  > div {
    visibility: none;
  }
}




@if $v-accordion-default-theme {
  /* Theme: default
   ***************************************/
  

  .vAccordion--default {

    v-accordion {
      margin-top: $v-accordion-spacing;
      padding-left: $v-accordion-spacing;
    }

    v-pane {
      transition: transform $v-pane-expand-duration;

      &.is-expanded {
        > v-pane-header {
          border-bottom-color: $v-pane-expanded-border-color;

          &::after {
            transform: rotate(90deg);
            opacity: 0;
          }

          &::before {
            transform: rotate(0deg);
          }
        }

        > v-pane-content > div {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      &.is-expanded-add > v-pane-content,
      &.is-expanded-remove > v-pane-content {
        transition: max-height $v-pane-expand-duration;
      }
    }

    v-pane-header {
      padding: 5px 0;
      margin-bottom: $v-accordion-spacing;
      border-bottom: 2px solid $v-pane-border-color;
      transition: color $v-pane-hover-duration, border-color $v-pane-expand-duration;

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 1px;
        background-color: $v-pane-icon-color;
        transform-origin: 50% 50%;
        transition: all $v-pane-hover-duration;
      }

      &::before {
        transform: rotate(-90deg);
      }

      &:hover,
      &:focus {
        color: $v-pane-hover-color;
      }
    }

    v-pane-content > div {
      padding-bottom: $v-accordion-spacing;
      will-change: transform, opacity;
      opacity: 0;
      transform: translate3d(0, 30px, 0);
      transition: transform $v-pane-expand-duration, opacity $v-pane-expand-duration;
    }
  }
  
}

